<footer id="footer" class="sixteen columns" data-hook>
  <div class="container">
    
    <div class="four columns">
      <%= image_tag "admin/bg/spree_50.png", :alt => "Guryon", :id => "footer-logo" %>
      <br>
      <div class="email">
        <a href="mailto:info.guryon@gmail.com">info.guryon@gmail.com</a>
      </div>
      <br>
      <div class="address">
        <strong>Guryon Main Home Office</strong> 
        <br>
        Aurora Subdivision, Maysilo, Malabon City
        <br>
        <br>
        <strong>Guryon Satellite Office</strong>
        <br>
        Dreamland Subdivision, Upper Pinget, Baguio City
      </div>
    </div>
    
    <div class="four columns">
      <h5>Paborito</h5>
      <ul>
        <li><a href="/products">New Products</a></li>
        <li><a href="/sellers">Top Sellers</a></li>
        <li><a href="/services">What do we Serve?</a></li>
      </ul>
    </div>
    
    <div class="four columns">
      <h5>Info</h5>
      <ul>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/faq">F.A.Q.</a></li>
      </ul>
    </div>
    
    <div class="four columns">
      <h5>Ano ba itong Guryon?</h5>
      <p>
        <strong>Guryon</strong> is an ecommerce marketplace for Philippine stores and online shops to buy and sell their goods. 
        <br>
        <br>
        <strong>Guryon</strong> helps you avoid online scams by being a go-between between buyers and sellers.
        <br>
        <br>
        <strong>Guryon</strong> also offers a very low-cost advertising service on Facebook, Twitter and Instagram. Post your new products only once and we will spread it to every social media your buyers spend time. 
      </p>
    </div>
    
  </div>
</footer>